/* 
Hey, just a heads-up(REMINDER ON WHATS IN GLOBAL.CSS! 
- Titles mostly use `h2` ).
-Subheading pakai 'h3' (oh, and it's yellow-colored: `#eda325`)
- Bigger titles? Use `h1` or `h2`.
- For regular text, just stick to `p`.
- Links (`<a>`) have hover effects with a little animation.
- Most of the alignment is handled using `flexbox`, so belajar elok2 that thing
- Section background colors(e.g class=content red)? Use `.red`, `.peach`, and `.white` classes.
- **IMPORTANT:** Jangan kacau global.css styles. Apa-apa, message Yum dulu takut kacau code orang lain.
- **Stick to your assigned page!** Jangan edit page lain, nanti merge conflicts/clash (basically kena 
    check code satu2 mana yg clash astu kena delete mana yang tanak). 
*/

#landing-section {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 50px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 5/4;
    object-fit: cover;
    transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.about-image img:hover {
    transform: translateY(-10px);
}

.about-text {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 50%;
}