* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'InstrumentSans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1;
    min-height: 100vh;
    width: 100%;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
    width: fit-content;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

a:hover {
    transform: translateY(-3px);
}

a:hover::after {
    width: 100%;
}

h1 {
    font-family: 'PerfectlyVintage', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'PerfectlyVintage', sans-serif;
    font-size: 3rem;
    color: #912933;
}

h3 {
    font-family: 'InstrumentSans', sans-serif;
    font-size: 1.75rem;
    color: #eda325;
}

p, a {
    font-size: 1.25rem;
}

input, textarea, select {
    font-family: 'InstrumentSans', sans-serif;
}

select {
    font-family: 'InstrumentSans', sans-serif;

}

.outline {
    font-size: 3.75rem;
    color: #912933; 
    -webkit-text-stroke: 1px white;
}

@font-face {
    font-family: 'Magules';
    src: url('../font/Magules.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PerfectlyVintage';
    src: url('../font/PerfectlyVintage.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans';
    src: url('../font/InstrumentSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans';
    src: url('../font/InstrumentSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.red {
    background-color: #912933;
    color: white;
}

.peach {
    background-color: #fcecdf;
    color: black;
}

.white {
    background-color: #ffffff;
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
    padding-top: 15px;
    transition: transform 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
}

nav {
    width: 100%;
    background-color: white;
    gap: 0px;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

nav img {
    display: block;
}

#main-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #912933;
    color: white;
    padding: 5px 10px;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    font-size: 0.7rem;
}

#footer-logo {
    flex: 2;
    text-align: left;
}

.footer-info {
    flex: 1;
    text-align: right;
    font-size: 0.7rem;
    line-height: 1.3;
}

.footer-info p {
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
}

.icons img {
    width: 20px;
    height: 20px;
    transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.icons img:hover {
    filter: brightness(80%);
    transform: translateY(-1px);
}

#cpr {
    padding: 3px;
    font-size: 0.7rem;
}

.whatsapp-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-btn img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.whatsapp-btn img:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p, a {
        font-size: 1.1rem;
    }    
    
    .outline {
        font-size: 2.25rem;
    }

    nav {
        padding: 0px 12px;
        border-radius: 6px;
        gap: 8px;
    }

    nav img {
        max-width: 100px;
    }

    nav a {
        font-size: 0.9rem;
        padding: 6px 5px;
    }

    .content {
        padding: 30px 0;
    }

    #main-footer {
        padding: 15px;
    }

    .footer-info {
        max-width: 50%;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p, a {
        font-size: 1rem;
    }

    .outline {
        font-size: 2rem;
    }

    nav {
        padding: 0px 8px;
        border-radius: 4px;
        gap: 6px;
    }

    nav img {
        max-width: 80px;
    }

    nav a {
        font-size: 0.8rem;
        padding: 5px 3px;
    }

    .content {
        padding: 20px 0;
    }


    #main-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 5px;
    }

    .footer-info {
        max-width: 100%;
        font-size: 0.65rem;
        line-height: 1;
    }

    .footer-info p {
        margin-bottom: 3px;
    }

    .icons img {
        width: 18px; 
    }

    .whatsapp-btn img {
        width: 48px;
        width: 48px;
    }
}
