* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'InstrumentSans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'Magules', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Magules', sans-serif;
    font-size: 3rem;
}

h3 {
    font-family: 'InstrumentSans', sans-serif;
    font-size: 1.75rem;
}

h3 {
    font-family: 'InstrumentSans', sans-serif;
    font-size: 1.5rem;
}

.outline {
    font-size: 3.75rem;
    color: transparent; 
    -webkit-text-stroke: 0.1px white;
}


@font-face {
    font-family: 'Magules';
    src: url('../font/Magules.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans';
    src: url('../font/InstrumentSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InstrumentSans';
    src: url('../font/InstrumentSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.content {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.red {
    background-color: #912933;
    color: white;
}

.peach {
    background-color: #fcecdf;
    color: black;
}

.white {
    background-color: #ffffff;
    color: black;
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
    padding-top: 15px;
}

nav {
    width: 100%;
    background-color: white;
    gap: 0px;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

nav img {
    display: block;
}

#main-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #912933;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    font-size: 0.9rem;
}

#footer-logo {
    flex: 1;
    text-align: left;
}

.footer-info {
    max-width: 500px; /* Adjust width as needed */
    margin: 0 auto; /* Center align */
    text-align: center; /* Center text */
    word-wrap: break-word; /* Ensure wrapping */
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    flex:wrap;
    gap: 10px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons img {
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
    
    .outline {
        font-size: 2.25rem;
    }

    nav {
        padding: 0px 12px;
        border-radius: 6px;
        gap: 8px;
    }

    nav img {
        max-width: 100px;
    }

    nav a {
        font-size: 0.9rem;
        padding: 6px 10px;
    }

    .content {
        padding: 30px 0;
    }

    #main-footer {
        padding: 15px;
    }

    .footer-info {
        max-width: 50%;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    .outline {
        font-size: 2rem;
    }

    nav {
        padding: 0px 8px;
        border-radius: 4px;
        gap: 6px;
    }

    nav img {
        max-width: 80px;
    }

    nav a {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .content {
        padding: 20px 0;
    }

    #main-footer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .footer-info {
        margin: 15px 0 0 0;
        max-width: 80%;
        font-size: 0.75rem;
    }

    .icons img {
        width: 20px;
        height: 20px;
    }
}

